{% extends "registration/base.html" %}

{% block title %}Logout{% endblock %}

{% block content %}

    <!-- <h2> You're logged out </h2>
    <a href="{% url 'login' %}">다시 로그인</a> -->

    <script type="text/javascript">
        var oldUrl = '{% url 'logout' %}';
        var changeUrl = '{% url 'root' %}';
        var urlString = location.href;
        if (urlString.match(oldUrl)){
            window.location.replace(urlString.replace(oldUrl, changeUrl));
        }
    </script>
    
{% endblock %}