{% extends "registration/base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

    <!-- Login -->
    {% if user.is_active %}

        <script type="text/javascript">
            var oldUrl = '{% url 'login' %}';
            var changeUrl = '{% url 'root' %}';
            var urlString = location.href;
            if (urlString.match(oldUrl)){
                window.location.replace(urlString.replace(oldUrl, changeUrl));
            }
        </script>
        
    <!-- Logout -->
    {% else %}
        {% if form.errors %}
            <!-- Login Error -->
            <p>ID나 비밀번호가 일치하지 않습니다.</p>
        {% endif %}

        <!-- Login Form -->
        <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="" />
        {{ form.as_p }}
        <button type="submit">로그인</button>
        </form>

        <a href="{% url 'signup' %}">회원가입</a>
    {% endif %}

{% endblock %}