{% extends "chat/base.html" %}

{% block title %}Chat{% endblock %}

{% block content %}

{% if user.is_active %}
    <h2> Welcome, {{user.username}} </h2>
    <a href="{% url 'logout' %}">로그아웃</a>
    <br/>
    <h2>Where would you like to enter?</h2>
    <input id="room-name-input" type = "text"/><br/>
    <input id="room-name-submit" type = "button" value = "Enter"/>

    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) { 
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/chat/' + roomName + '/';
        };
    </script>

{% else %}
    <h2> You're logged out </h2>
    <a href="{% url 'login' %}">로그인</a>
{% endif %}

{% endblock %}